.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 8px;
}

.review-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  align-self: center;
}

.toy-name {
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.full-width {
  width: 100%;
}

.stars-wrapper {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.star-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.star-btn mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.rating-text {
  text-align: center;
  margin: 0;
  font-weight: 500;
}

.material-symbols-filled{
  font-variation-settings: 'FILL' 1;
  color: gold;
}

.material-symbols-outlined{
  font-variation-settings: 'FILL' 0;
  color: black;
}