mat-toolbar {
    display: flex;
    justify-content: space-between;
    background: var(--mat-sys-primary);
    color: var(--mat-sys-on-tertiary);
}

mat-toolbar a{
    color: var(--mat-sys-on-tertiary);
}
mat-toolbar button{
    color: var(--mat-sys-on-tertiary);
}

.title{
    margin-left: 10px;
}

.spacer {
    flex: 1 1 auto;
}

.wrapper {
    margin-top: 15px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

}