.user-card {
    width: 460px;
}

.user-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.user-details {
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
}

.user-img {
    margin-top: auto;
    margin-bottom: auto;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.user-info-wrapper{
    width: 60%;
}

.centered-button{
    margin-left: auto;
    margin-right: auto;
}

.mb-10{
    margin-top: 10px;
    margin-bottom: 10px;
}