.toy-card {
    width: 300px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

mat-drawer-container {
  min-height: 100vh;
}

.toy-card:hover {
    transform: translateY(-4px);
}

.mat-drawer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.card-content {
    margin-top: 10px;
}

.empty-card {
  padding: 24px;

}

.side-filters{
    min-height: 100vh;
    border-right: 1px solid #555;
    border-radius: 0px;
    padding: 10px;

}

.side-filters mat-form-field {
    width: 100%;
}

.type-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.divider{
    margin-top: 5px;
    margin-bottom: 10px;
}

.side-filters mat-expansion-panel {
  box-shadow: none;
  border-radius: 0;
  background: transparent;
}