<mat-drawer-container>
    <mat-drawer mode="side" opened class="side-filters">
        <div class="side-filters-inner">
            <h2>Filteri i sortiranje</h2>
        <mat-form-field>
            <mat-label>Pretraga</mat-label>
            <input matInput type="text" [(ngModel)]="search" (keyup)="filter()">
        </mat-form-field>

        <mat-divider class="divider"></mat-divider>
        
        <mat-form-field>
            <mat-label>Sortiranje</mat-label>
            <mat-select [(ngModel)]="sortBy" (selectionChange)="filter()">
                <mat-option value="date_desc">Najnoviji prvo</mat-option>
                <mat-option value="date_asc">Najstariji prvo</mat-option>
                <mat-option value="name_asc">Naziv A-Z</mat-option>
                <mat-option value="name_desc">Naziv Z-A</mat-option>
                <mat-option value="price_asc">Cena rastuće</mat-option>
                <mat-option value="price_desc">Cena opadajuće</mat-option>
                <mat-option value="rating_desc">Najbolje ocenjeni</mat-option>
                <mat-option value="rating_asc">Najslabije ocenjeni</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-divider class="divider"></mat-divider>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tip
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="type-list">
                    @for (type of getVisibleItems(toyTypeFilter); track type.id) {
                    <li>
                        <mat-checkbox [checked]="isSelected(toyTypeFilter, type.id)"
                            (change)="onChange(toyTypeFilter, type.id, $event.checked)" >
                            {{ type.name }}
                        </mat-checkbox>
                    </li>
                    }
                </ul>
                @if(toyTypeFilter.items.length>5){
                    <button matButton type="button" (click)="toggleShowAll(toyTypeFilter)">
                        {{toyTypeFilter.showAll ? 'Prikažite manje' : 'Prikažite više' }}
                    </button>
                }

            </mat-expansion-panel>

            <mat-divider class="divider"></mat-divider>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Uzrast
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="type-list">
                    @for (ag of getVisibleItems(ageGroupFilter); track ag.id) {
                    <li>
                        <mat-checkbox [checked]="isSelected(ageGroupFilter, ag.id)"
                            (change)="onChange(ageGroupFilter, ag.id, $event.checked)" >
                            {{ ag.name }}
                        </mat-checkbox>
                    </li>
                    }
                </ul>
                @if(ageGroupFilter.items.length>5){
                    <button matButton type="button" (click)="toggleShowAll(ageGroupFilter)">
                        {{ageGroupFilter.showAll ? 'Prikažite manje' : 'Prikažite više' }}
                    </button>
                }

            </mat-expansion-panel>

            <mat-divider class="divider"></mat-divider>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Pol
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="type-list">
                    @for (tg of getVisibleItems(targetGroupFilter); track tg.id) {
                    <li>
                        <mat-checkbox [checked]="isSelected(targetGroupFilter, tg.id)"
                            (change)="onChange(targetGroupFilter, tg.id, $event.checked)" >
                            {{ tg.name }}
                        </mat-checkbox>
                    </li>
                    }
                </ul>

            </mat-expansion-panel>

            <mat-divider class="divider"></mat-divider>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Ocena
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul class="type-list">
                    @for (rg of getVisibleItems(ratingGroupFilter); track rg.id) {
                    <li>
                        <mat-checkbox [checked]="isSelected(ratingGroupFilter, rg.id)"
                            (change)="onChange(ratingGroupFilter, rg.id, $event.checked)" >
                            {{ rg.name }}
                        </mat-checkbox>
                    </li>
                    }
                </ul>
                @if(ratingGroupFilter.items.length>5){
                    <button matButton type="button" (click)="toggleShowAll(ratingGroupFilter)">
                        {{ratingGroupFilter.showAll ? 'Prikažite manje' : 'Prikažite više' }}
                    </button>
                }

            </mat-expansion-panel>

            <mat-divider class="divider"></mat-divider>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Cena</mat-panel-title>
                </mat-expansion-panel-header>

                <p>Od {{ selectedMinPrice | number}} do {{ selectedMaxPrice | number}} RSD</p>

                <mat-slider [min]="minPrice" [max]="maxPrice" step="100">
                    <input matSliderStartThumb [(ngModel)]="selectedMinPrice" (ngModelChange)="filter()">
                    <input matSliderEndThumb [(ngModel)]="selectedMaxPrice" (ngModelChange)="filter()">
                </mat-slider>
            </mat-expansion-panel>

             <mat-divider class="divider"></mat-divider>


        </mat-accordion>
        </div>
    </mat-drawer>

    <mat-drawer-content>
        @if (filteredToys().length>0) {
            
        @for(t of filteredToys(); track $index){

        <mat-card [routerLink]="`/details/${t.permalink}`" class="toy-card" appearance="outlined">
            <img mat-card-image [src]="utils.getImageUrl(t)" [alt]="t.name">
            <mat-card-content class="card-content">

                <mat-card-header>
                    <mat-card-title>
                        <strong>{{t.name}}</strong>
                    </mat-card-title>
                    <mat-card-subtitle>{{t.price | number}} RSD</mat-card-subtitle>
                </mat-card-header>
                <div class="toy-rating">
                    <mat-icon fontIcon="star"></mat-icon>
                    {{ authService.getAvgRatingForToy(t.toyId).toFixed(1) }}
                </div>

            </mat-card-content>
        </mat-card>
        }
        }@else {
        <mat-spinner></mat-spinner>
        }
    </mat-drawer-content>

</mat-drawer-container>