@if(toy()){
<div class="details-wrapper">
    <mat-card class="details-card">
        <img [src]="utils.getImageUrl(toy()!)" class="details-image">
    </mat-card>
    <mat-card class="details-card">
        <mat-card-content>
            <h1>{{toy()?.name}}</h1>
            <mat-list>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon matListItemIcon>description</mat-icon>
                    <div matListItemTitle>{{(toy()?.description)}}</div>

                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon matListItemIcon>child_care</mat-icon>
                    <div matListItemTitle>Uzrast: {{toy()?.ageGroup?.name}} godina</div>
                    <div matListItemLine>{{toy()?.ageGroup?.description}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    @if(toy()?.targetGroup == 'dečak'){
                    <mat-icon matListItemIcon>man</mat-icon>
                    }@else if (toy()?.targetGroup == 'devojčica') {
                    <mat-icon matListItemIcon>woman</mat-icon>
                    }@else {
                    <mat-icon matListItemIcon>wc</mat-icon>
                    }
                    <div matListItemTitle>Pol: {{toy()?.targetGroup}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <mat-icon matListItemIcon>category</mat-icon>
                    <div matListItemTitle>Kategorija: {{toy()?.type?.name}}</div>
                    <div matListItemLine>{{toy()?.type?.description}}</div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>

            <mat-card-subtitle class="detail-price">
                <strong>Cena: {{ toy()?.price | number :'1.2-2' }} RSD</strong>
            </mat-card-subtitle>
        </mat-card-content>
        @if(authService.getActiveUser()){
        <mat-card-actions>
            <button matButton="elevated" (click)="placeReservation()">
                Dodaj u korpu
                <mat-icon>shopping_bag</mat-icon>
            </button>
        </mat-card-actions>
        }

    </mat-card>
    
</div>
<mat-divider class="divider"></mat-divider>
<mat-card class="reviews-card">
  <mat-card-header>
    <mat-card-title>Ocene i komentari</mat-card-title>
    <mat-card-subtitle>
      Prosečna ocena: {{ avgRating.toFixed(1) }} / 5
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    @if (reviews.length > 0) {
      @for (review of reviews; track review.createdAt) {
        <div class="review-item">
          <h4>{{ review.userName }}</h4>
          <p>Ocena: {{ review.rating }}/5</p>
          <p>{{ review.comment }}</p>
          <small>{{ review.createdAt | date:'dd.MM.yyyy. HH:mm' }}</small>
          <mat-divider></mat-divider>
        </div>
      }
    } @else {
      <p>Još uvek nema komentara za ovaj proizvod.</p>
    }
  </mat-card-content>
</mat-card>
}